$white: white;
$background: url("/images/portal_bkg.jpg");
$black: black;
$black2: #313030;
$hmiddle: 0 auto;
$marginTop: 20px;
$blue-grey: #455a64;
$shadow: rgba(0,0,0,0.16) 0px 7px 6px;
$shadow2:  rgba(0,0,0,0.16) 2px 2px 6px;
$rh3: #4AB1B9;
$grey: #707070;