<form method="POST" action="/post">
       
    <!-- name gender insurance ID symptoms -->
    <p class="instructions">Please fill the form below to book an appointment</p>

    <div class="inputs">
        <input type="text" name="name" placeholder="Full Name" maxlength="50" required>
        <input type="text" name="id" placeholder="NHIS ID or other insurance ID" pattern ="[0-9]{8}" maxlength="8" required>
        <input type="email" name="email" placeholder="email@example.com" maxLength="100" required>
        
        <textarea name="symptoms" id="symptoms" cols="30" rows="10" 
        placeholder="Symptoms go here..."  maxlength="1000" 
        required></textarea>

        <fieldset>
            <legend>gender</legend>
            <input id="male" name="gender" value="male" type="radio">
            <label for="male">male</label>
            <input id="female" name="gender" value="female" type="radio">
            <label for="female">female</label>
        </fieldset>

        <input type="submit" value="send">
        
    </div>
</form>