<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin: Appointments</title>
</head>
<body class="wrapper">
    <h1>Appointmnets</h1>
    <li></li>
    <!-- Render all the appointments in the database as a list -->
</body>
</html>