<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Health Portal: Home</title>
    <link rel="stylesheet" href="assets/styles/css/main.css">        
</head>

<body>
    <div class="background material">
        <div class="portal-window z-depth-5 row">
            <div class="col s6 blue-grey darken-2">
                <h3 class=" title center white-text">Appointment</h3>
                <p class=" description center white-text">Click to book an appointment to see the Doctor</p>
                <button id="appointment">Go</button>
            </div>
            
            <div class="col s6 deep-purple lighten-2">
                <h3 class=" title center white-text">Health Summary</h3>
                <p class=" description center white-text">Click to view health summary</p>
                <button>Go</button>
            </div>
            
            <div class="col s6 light-blue lighten-5">
                <h3 class=" title center black-text">Request Service</h3>
                <p class=" description center black-text">Click to request home services from the hospital</p>
                <button class="button-inverse">Go</button>
            </div>
            
            <div class="col s6 teal accent-2">
                <h3 class=" title center white-text">Information Portal</h3>
                <p class=" description center white-text">Click for information on our health and wellness programs</p>
                <button>Go</button>
            </div>
        </div>

    </div>
    
    
    <div class="form-window normal">
        <div class="close">X</div>
        <div class="form-content"></div>      
    </div>
        
        
    <% include partials/imports.ejs %>

</body>

</html>