<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="assets/scripts/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="/assets/styles/css/panel.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/assets/scripts/panel.js"></script>
    
    <title>Patient List</title>
</head>
<body class="patient-list">
        <div class="left-side">

        </div>

        <div class="main-console center">

            <h1 class="title">Patients
                <span><input id="search-box" type="number" maxlength="10" placeholder="search patient by id"></span>
            </h1>
            <div class="material" id="list">
                <% patientList.forEach(function(patient){ %>
                    <%-include partials/card  {patient: patient} %>
               <% }); %>
            </div>
            
              
        </div>
        
          <div class="right-side">
                <div class=" box booking-details">
                    <h3>Booking Details</h3>
                    <p>Todays Total: <%= patientList.length %></p>
                    <p>Completed 109</p>
                </div>
        
                <div class=" box average-booking-per-day">
                    <h3>Average Booking Per Day</h3>
                    <p>179</p>
                </div>
        
                <div class=" box failed-number-of-bookings">
                    <h3>Cancelled Bookings</h3>
                    <p>5</p>
                </div>
            </div>
          
        
          
</body>
</html>

